annotated-types==0.7.0
APScheduler==3.11.1
attrs==25.4.0
Automat==25.4.16
blinker==1.9.0
boto3==1.41.4
botocore==1.41.4
cachetools==6.2.2
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.1.8
config==0.5.1
constantly==23.10.4
crochet==2.1.1
cryptography==46.0.3
cssselect==1.3.0
defusedxml==0.7.1
filelock==3.19.1
Flask==3.1.2
Flask-SQLAlchemy==3.1.1
google-ai-generativelanguage==0.6.15
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.43.0
google-auth-httplib2==0.2.1
google-generativeai==0.8.5
googleapis-common-protos==1.72.0
greenlet==3.2.4
grpcio==1.76.0
grpcio-status==1.71.2
httplib2==0.31.0
hyperlink==21.0.0
idna==3.11
importlib_metadata==8.7.0
incremental==24.7.2
itemadapter==0.12.2
itemloaders==1.3.2
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.0.1
lxml==6.0.2
MarkupSafe==3.0.3
packaging==25.0
parsel==1.10.0
playwright==1.57.0
Protego==0.5.0
proto-plus==1.26.1
protobuf==5.29.5
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
PyDispatcher==2.0.7
pyee==13.0.0
pyOpenSSL==25.3.0
pyparsing==3.2.5
pypdf==6.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
queuelib==1.8.0
requests==2.32.5
requests-file==3.0.1
rsa==4.9.1
s3transfer==0.15.0
Scrapy==2.13.3
scrapy-playwright==0.0.44
service-identity==24.2.0
six==1.17.0
SQLAlchemy==2.0.44
tldextract==5.3.0
tomli==2.3.0
tqdm==4.67.1
Twisted==25.5.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzlocal==5.3.1
uritemplate==4.2.0
urllib3==1.26.20
w3lib==2.3.1
Werkzeug==3.1.3
wrapt==2.0.1
zipp==3.23.0
zope.interface==8.0.1
